.country{
    background-color: rgba(128, 255, 0, 0.979);
    margin: 10px;
    padding: 10px 0;
    border-radius: 10px;
   
}
.country img{
    width: 250px;
}
.country:hover{
    background-color: lemonchiffon;
}