.menu ul{
     list-style: none;
     display: flex;
     background-color: grey;
     padding: 10px 0;
     margin: 0 auto;
     justify-content: center;
}


 .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-right:20px ;
    cursor: pointer;
 }